* {
  outline: none;
  margin: 0;
}

.custom-color-input {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.custom-color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.custom-color-input::-webkit-color-swatch {
  border: none;
}

.custom-color-input::-moz-color-swatch {
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.image_scrollbar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #9a9a9a;
  --sb-size: 5px;
}

.image_scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.image_scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.image_scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #adadad;
  --sb-size: 5px;
}

.body::-webkit-scrollbar {
  width: var(--sb-size);
}

.body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.99) translateY(10px);
    -webkit-transform: scale(0.99) translateY(10px);
    -moz-transform: scale(0.99) translateY(10px);
    -ms-transform: scale(0.99) translateY(10px);
    -o-transform: scale(0.99) translateY(10px);
  }
  80% {
    opacity: 0.9;
    transform: scale(1.01) translateY(-2px);
    -webkit-transform: scale(1.01) translateY(-2px);
    -moz-transform: scale(1.01) translateY(-2px);
    -ms-transform: scale(1.01) translateY(-2px);
    -o-transform: scale(1.01) translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleUp {
  animation: scaleUp 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
  -webkit-animation: scaleUp 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
